@font-face {
    src: url("/fonts/Roboto/Roboto-Black.ttf");
}

.root{
    -fx-font-family: "Roboto Black", sans-serif;
    -fx-fill-width: true;
}

Label{
    -fx-font-size: 1em;
    -fx-padding: 1em;
    -fx-max-width: 999999 ;
}

.heading{
    -fx-font-size: 2em;
}